header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #538f51;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.side-panel{
    font-family:Arial, Helvetica, sans-serif;
}



