<!-- Login card -->
<div id="login" *ngIf="showLogin" class="my-4 flex flex-row justify-content-center">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <img src="\assets\spyglass.png" alt="Image" height="100" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
        </div>

        <div>
            <label for="email" class="block text-900 font-medium mb-2">Email</label>
            <input id="email" type="text" pInputText class="w-full mb-3" [(ngModel)]="email">

            <label for="password" class="block text-900 font-medium mb-2">Password</label>
            <input id="password" type="password" pInputText class="w-full mb-3" [(ngModel)]="password">

            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme" [binary]="true" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme" class="text-900">Remember me</label>
                </div>
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
            </div>

            <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
        </div>
    </div>
</div>

<!-- Create user card -->
<div id="create" *ngIf="showCreate" class="my-4 flex flex-row justify-content-center">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <img src="\assets\spyglass.png" alt="Image" height="100" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Create Account</div>
        </div>

        <div>
            <label for="fname" class="block text-900 font-medium mb-2">First Name</label>
            <input id="fname" type="text" pInputText class="w-full mb-3" [(ngModel)]="newUser.fname">

            <label for="lname" class="block text-900 font-medium mb-2">Last Name</label>
            <input id="lname" type="text" pInputText class="w-full mb-3" [(ngModel)]="newUser.lname">

            <label for="email2" class="block text-900 font-medium mb-2">Email</label>
            <input id="email2" type="text" pInputText class="w-full mb-3" [(ngModel)]="newUser.email">

            <label for="password2" class="block text-900 font-medium mb-2">Password</label>
            <input id="password2" type="password" pInputText class="w-full mb-3" [(ngModel)]="password">

            <label for="password3" class="block text-900 font-medium mb-2">(Re-enter Password)</label>
            <input id="password3" type="password" pInputText class="w-full mb-3" [(ngModel)]="password2">

            <button pButton pRipple label="Create Account" class="w-full" (click)="saveUser()"></button>
        </div>
    </div>
</div>

<!-- Main section -->
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Start Saving for what Matters</span>
            <div class="text-6xl text-primary font-bold mb-3">Achieve the things you want</div>
            <p class="mt-0 mb-4 text-700 line-height-3">SpyGlass was designed to help you achieve your financial freedom. Start planning your finances and secure your future.</p>
            
            <button pButton pRipple label="Login" type="button" class="mr-3 p-button-raised" (click)="toggleLogin()"></button>
            <button pButton pRipple label="Create Account" type="button" class="p-button-outlined" (click)="toggleCreate()"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="https://images.pexels.com/photos/259165/pexels-photo-259165.jpeg" alt="Image" width="1000" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

<p-toast position="top-center"></p-toast>


