div{
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    background-color: rgb(44, 42, 42);
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.center{
    padding-top: 10%;
    padding-bottom: 10%;
}

